@charset "UTF-8";
html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
}

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans JP", serif;
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.l-footer {
  background: #017972;
  padding: 46px 27px 20px 100px;
  height: 360px;
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 300;
}
.l-footer__logo {
  width: 210px;
  margin-bottom: 14px;
}
.l-footer__logo img {
  width: 100%;
}
.l-footer__logo p {
  font-size: 1.4rem;
}
.l-footer a {
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  margin-left: 23px;
}
.l-footer a::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url(../images/svg/link_white.svg);
  background-size: cover;
  left: -32px;
  top: 5px;
}
.l-footer__text1 {
  margin-bottom: 16px;
}
.l-footer__text2 {
  margin-top: 105px;
  text-align: end;
}

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  height: 112px;
  border: 1px solid #A8A8A8;
  padding: 0 47px;
}
.l-header.is-open {
  z-index: 6000000;
}
.l-header__logo {
  width: 216px;
  display: block;
}
.l-header__logo img {
  width: 100%;
}
.l-header__logo p {
  color: #000000;
  font-size: 14px;
  margin: 0;
}

.c-background--global {
  width: 100%;
  height: auto;
  background: url(../images/png/main-back.png);
  background-repeat: repeat-y;
  background-size: cover;
}
.c-background--first-view {
  width: 100%;
  height: 650px;
  background: url(../images/jpg/main-visual.jpg);
  background-size: cover;
}
.c-background--service {
  width: 100%;
  height: 956px;
  background: url(../images/png/bg_service.png);
  background-size: cover;
  background-position: center;
}
.c-background--white {
  background: #FFFFFF;
}
.c-background--problem {
  width: 100%;
  height: 577px;
  background: url(../images/jpg/onayami.png);
  background-size: cover;
}
.c-background--support__banner {
  background: url(../images/png/support-banner.png);
  background-size: cover;
}
.c-background--cta {
  background: url(../images/png/bg-cta.png);
  background-size: cover;
}
.c-background--case-iret {
  background: url(../images/png/bg_case_iret.png);
  background-size: cover;
}
.c-background--recruit {
  background: url(../images/png/bg-recruit.png);
  background-size: cover;
}
.c-background--flow1 {
  background: var(--Linear, linear-gradient(180deg, #AAE3E0 0%, #62D3CC 100%));
  position: relative;
}
.c-background--flow1::after {
  background: url(../images/svg/chon1.svg) no-repeat;
}
.c-background--flow2 {
  background: var(--Linear, linear-gradient(180deg, #65D3CD 0%, #10B5AB 100%));
  position: relative;
}
.c-background--flow2::after {
  background: url(../images/svg/chon1.svg) no-repeat;
}
.c-background--flow3 {
  background: var(--Linear, linear-gradient(180deg, #16B7AD 0%, #027A73 100%));
  position: relative;
}
.c-background--flow3::after {
  background: url(../images/svg/chon2.svg) no-repeat;
}
.c-background--flow1::after, .c-background--flow2::after, .c-background--flow3::after {
  position: absolute;
  content: "";
  background-size: contain;
  width: 30px;
  height: 40px;
  top: -13px;
  right: 16px;
}

.c-border--gray {
  border: 3px solid #A8A8A8;
}

.c-button--request, .c-button--request--cta, .c-button--request--first-view, .c-button--request--header {
  display: block;
  background: #F24535;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.c-button--request--header {
  height: 53px;
  width: 269px;
  border-radius: 3.7px;
  font-size: 1.7rem;
  box-shadow: 0px -2.662px 0px 0px rgba(0, 0, 0, 0.25) inset;
}
.c-button--request--header p {
  margin: auto 30px auto auto;
  position: relative;
}
.c-button--request--header p::before {
  position: absolute;
  content: "";
  background: url(../images/png/operator.png);
  background-size: cover;
  width: 72px;
  height: 64px;
  top: -32px;
  left: -86px;
  display: block;
}
.c-button--request--header span {
  font-size: 1.1rem;
}
.c-button--request--first-view {
  width: 398px;
  padding: 39px 34px 16px;
  border-radius: 8px;
  font-size: 3rem;
  box-shadow: 0px -2.391px 0px 0px rgba(0, 0, 0, 0.25) inset;
}
.c-button--request--first-view p {
  margin-left: auto;
  position: relative;
}
.c-button--request--first-view p::before {
  position: absolute;
  content: "";
  background: url(../images/png/operator.png);
  background-size: cover;
  width: 112px;
  height: 102px;
  top: -46px;
  left: -118px;
  display: block;
}
.c-button--request--first-view p::after {
  position: absolute;
  content: "";
  background: url(../images/png/button-parts.png);
  background-size: cover;
  width: 254px;
  height: 25px;
  top: -28px;
  left: -13px;
}
.c-button--request--first-view span {
  font-size: 2.2rem;
}
.c-button--request--cta {
  width: 590px;
  height: 140px;
  border-radius: 14.5px;
  box-shadow: 0px -3.63px 0px 0px rgba(0, 0, 0, 0.25) inset;
  background: #F24535;
  margin: auto;
}
.c-button--request--cta div {
  width: 100%;
}
.c-button--request--cta div strong {
  font-size: 1.7rem;
  display: inline-block;
  margin-left: 200px;
  font-weight: 600;
  position: relative;
}
.c-button--request--cta div strong::before, .c-button--request--cta div strong::after {
  width: 20px;
  height: 2px;
  position: absolute;
  content: "";
  background: #FFFFFF;
  top: 12px;
}
.c-button--request--cta div strong::before {
  left: -24px;
  transform: rotate(53deg);
}
.c-button--request--cta div strong::after {
  right: -24px;
  transform: rotate(-53deg);
}
.c-button--request--cta div p {
  font-size: 4.5rem;
  font-weight: 600;
  display: inline-block;
  margin-left: 140px;
  position: relative;
  letter-spacing: -2px;
}
.c-button--request--cta div p::before {
  position: absolute;
  content: "";
  background: url(../images/png/operator.png);
  background-size: cover;
  width: 150px;
  height: 145px;
  top: -60px;
  left: -160px;
  display: block;
}
.c-button--request--cta div p span {
  font-size: 3.4rem;
}
.c-button--form-submit {
  display: block;
  width: 762px;
  height: 157px;
  background: #1E4A8B;
  color: #FFFFFF;
  color: #FFF;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.c-text--green04 {
  color: #04756F;
}
.c-text--pink39 {
  color: #E39393;
}

.c-title--section {
  color: #273236;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  margin-bottom: 52px;
}
.c-title--section::after {
  position: absolute;
  content: "";
  width: 192px;
  height: 8px;
  background: #9DCBC8;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.c-title--skill-h3 {
  color: #273236;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
}

.c-obje--problem {
  width: 800px;
  height: 120px;
  background: #FFFFFF;
  padding: 10px 0;
  border-radius: 10px;
  margin: 73px auto 77px;
  position: relative;
  z-index: 11;
}
.c-obje--problem::before {
  transform: scale(-1, 1);
  left: -125px;
}
.c-obje--problem::after {
  right: -125px;
}
.c-obje--problem::before, .c-obje--problem::after {
  position: absolute;
  content: "";
  width: 106px;
  height: 102px;
  background: url(../images/svg/guruguru.svg);
  background-size: cover;
  top: 12px;
}
.c-obje--problem p {
  color: #273236;
  font-size: 40px;
  text-align: center;
}
.c-obje--problem p span {
  color: #017972;
  font-size: 56px;
  font-weight: 900;
  position: relative;
  z-index: 11;
}
.c-obje--problem p span::after {
  position: absolute;
  content: "";
  width: 148px;
  height: 8px;
  background: #9DCBC8;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.c-obje--problem__triangle {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  position: absolute;
  z-index: 10;
  font-size: 0;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  bottom: -27px;
}

.c-hide {
  opacity: 0;
  visibility: hidden;
}

.c-shadow--text-flow1 {
  text-shadow: 0px 3.382px 3.382px #10E9DC;
}
.c-shadow--text-flow2 {
  text-shadow: 0px 3.382px 3.382px rgba(12, 172, 162, 0.25);
}
.c-shadow--text-flow3 {
  text-shadow: 0px 3.382px 3.382px rgba(31, 145, 138, 0.25);
}

.p-support {
  padding: 82px 0 0;
  overflow-x: hidden;
}
.p-support__list {
  margin-left: 8.9583333333%;
}
.p-support__list li {
  width: 1030px;
  position: relative;
  margin-bottom: 90px;
}
.p-support__list li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-support__list li div {
  width: 700px;
  padding: 57px 0 25px 33px;
  position: absolute;
  bottom: 87px;
  right: -330px;
  border-radius: 4px;
  box-shadow: 0px 3.336px 3.336px 0px rgba(0, 0, 0, 0.25);
}
.p-support__list li div h3 {
  position: absolute;
  top: -100px;
  left: 30px;
}
.p-support__chat {
  background: #FFFFFF;
  padding: 128px 0 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-support__chat h2 {
  color: #273236;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  margin-bottom: 90px;
}
.p-support__chat h2::after {
  position: absolute;
  content: "";
  width: 192px;
  height: 8px;
  background: #9DCBC8;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.p-support__chat figure {
  margin-bottom: 38px;
}
.p-support__chat p {
  font-size: 3.2rem;
  width: 914px;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.p-support__chat p span {
  color: #017972;
  font-weight: 900;
}
.p-support__banner {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-support__banner p {
  font-size: 4rem;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 2px;
  width: 880px;
}

.p-service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-service__content {
  width: 988px;
}
.p-service__content h2, .p-service__content h3 {
  color: #FFFFFF;
}
.p-service__content h2, .p-service__content h3 {
  text-align: center;
}
.p-service__content h2 {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
  position: relative;
  margin-bottom: 64px;
  letter-spacing: 1.2px;
}
.p-service__content h2::after {
  position: absolute;
  content: "";
  width: 583px;
  height: 6px;
  background: #FFFFFF;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.p-service__content h3 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 36px;
}
.p-service__content__text {
  width: 804px;
  font-size: 2.4rem;
  margin: auto;
  color: #FFFFFF;
  letter-spacing: 1.2px;
  line-height: 1.5;
}
.p-service__content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 756px;
  margin: 0 auto 46px;
}
.p-service__content ul li {
  width: 232px;
  height: 232px;
}
.p-service__content ul li img {
  width: 100%;
}

.p-achieve {
  padding: 51px 0 47px;
}
.p-achieve h2 {
  font-size: 40px;
  color: #273236;
  text-align: center;
  margin-bottom: 51px;
  position: relative;
}
.p-achieve h2::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background: #9DCBC8;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%);
}
.p-achieve__list {
  display: flex;
  margin-top: 18px;
  flex-wrap: nowrap; /* 折り返しを防ぐ */
  gap: 40px;
}
.p-achieve__list__item {
  width: 240px;
  height: 160px;
  flex: 0 0 auto; /* 幅を固定 */
  white-space: nowrap;
}
.p-achieve__list__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-achieve__wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.p-card--support {
  color: #273236;
}
.p-card--support h3 {
  font-size: 12rem;
  color: #9DCBC8;
  font-weight: 900;
  position: absolute;
  line-height: 1.5;
  letter-spacing: 1.3px;
}
.p-card--support h4 {
  font-size: 2.7rem;
}
.p-card--support strong {
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 1.5;
}
.p-card--support p {
  width: 423px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
}
.p-card--skill {
  display: flex;
  justify-content: center;
  gap: 9px;
}
.p-card--skill li {
  width: 345px;
}
.p-card--skill li h4 {
  height: 44px;
  background: #04756F;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.7;
  border-radius: 17px 17px 0 0;
  padding: 14px 0;
  border-bottom: 1px solid #EDEFF3;
}
.p-card--skill li ul {
  box-shadow: 0px 3.27px 10px 0px rgba(0, 0, 0, 0.05), 0px 3.27px 10px 0px rgba(0, 0, 0, 0.03), 0px 3.27px 10px 0px rgba(0, 0, 0, 0.03);
}
.p-card--skill li ul li {
  font-size: 1.1rem;
  font-weight: 700;
  color: #273236;
  height: 47px;
  border-bottom: 1px solid #EDEFF3;
  display: flex;
  align-items: center;
}
.p-card--skill li ul li p {
  width: 180px;
  margin: auto;
}
.p-card--flow {
  margin-bottom: 40px;
}
.p-card--flow h4 {
  color: var(--, #273236);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 13px;
}
.p-card--flow div {
  border-radius: 20px;
  padding: 17px 54px;
}
.p-card--flow div p {
  color: #FFF;
  font-size: 20px;
  line-height: 1.5; /* 30px */
  letter-spacing: 1px;
  max-width: 545px;
}
.p-card--flow div .c-shadow--text-flow1, .p-card--flow div .c-shadow--text-flow2, .p-card--flow div .c-shadow--text-flow3 {
  position: relative;
}
.p-card--flow div .c-shadow--text-flow1::before, .p-card--flow div .c-shadow--text-flow2::before, .p-card--flow div .c-shadow--text-flow3::before {
  position: absolute;
  content: "";
  height: 96%;
  left: -26px;
  top: 6px;
}
.p-card--flow div .c-shadow--text-flow1::before {
  width: 20px;
  background: url(../images/svg/flow1.svg);
  background-size: contain;
}
.p-card--flow div .c-shadow--text-flow2::before {
  width: 20px;
  background: url(../images/svg/flow2.svg);
  background-size: contain;
}
.p-card--flow div .c-shadow--text-flow3::before {
  width: 21px;
  background: url(../images/svg/flow3.svg);
  background-size: contain;
}

.p-price {
  padding: 72px 0 85px;
}
.p-price h2 {
  color: #273236;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 72px;
  position: relative;
}
.p-price h2::after {
  position: absolute;
  content: "";
  width: 192px;
  height: 8px;
  background: #9DCBC8;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.p-price figure {
  width: 920px;
  height: 600px;
  margin: auto;
}
.p-price figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-contact {
  padding: 70px 0 142px;
}
.p-contact__text1 {
  width: 600px;
  margin: 0 auto 140px;
  color: #273236;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}
.p-contact__text2 {
  color: #575757;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-align: center;
}

.p-form {
  width: 920px;
  margin: auto;
}
.p-form label, .p-form input {
  color: #273236;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 0.9;
  width: 226px;
  position: relative;
}
.p-form__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 53px;
  margin-bottom: 32px;
}
.p-form__wrapper label::before {
  position: absolute;
  content: "必須";
  color: #FFFFFF;
  font-size: 1.6rem;
  background: #D32F2F;
  padding: 4px 8px;
  top: -50px;
  left: 0;
}
.p-form__wrapper input {
  width: 640px;
  height: 80px;
  border: 3px solid #273236;
  padding: 10px 20px;
}
.p-form__name {
  display: flex;
  justify-content: space-between;
  width: 640px;
  position: relative;
}
.p-form__name::before, .p-form__name::after {
  position: absolute;
  font-size: 2.4rem;
  font-weight: 600;
  color: #273236;
  top: 0;
}
.p-form__name::before {
  content: "姓";
  left: -38px;
}
.p-form__name::after {
  content: "名";
  right: 292px;
}
.p-form__name input {
  width: 280px;
  height: 80px;
  border: 3px solid #273236;
}
.p-form div .p-form__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 80px;
}
.p-form div .p-form__checkbox-container input {
  width: 35px;
  height: 35px;
}
.p-form div .p-form__checkbox-container a {
  color: #273236;
  font-size: 2.8rem;
  font-weight: 600;
}
.p-form button {
  margin: 152px auto 37px;
}

.p-nav--global {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-nav--global li {
  margin: 0 40px;
}
.p-nav--global li a {
  color: #273236;
  font-size: 16px;
  display: inline-block;
  position: relative;
}
.p-nav--global li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0;
  height: 6px;
  background: #017972;
  transition: width 0.3s ease;
}
.p-nav--global li a:hover::after {
  width: 100%;
}

.p-first-view {
  padding-top: 59px;
}

.p-copy {
  margin-left: 18%;
}
.p-copy__text1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #017972;
  background: #FFFFFF;
  border: 3px solid #017972;
  padding: 12px 21px;
  width: 446px;
  margin-bottom: 24px;
}
.p-copy__text2 {
  width: 483px;
  margin-bottom: 16px;
}
.p-copy__text2 img {
  width: 100%;
}
.p-copy__text3 {
  font-size: 24px;
  font-weight: 500;
  color: #273236;
  line-height: 1.8;
  margin-bottom: 26px;
}
.p-copy__text3 span {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
  -webkit-text-decoration: underline 2px solid;
          text-decoration: underline 2px solid;
  text-underline-offset: 5px;
}

.p-problem__body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.p-problem__body li {
  width: 258px;
  height: 180px;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 0 37px;
  padding: 13px 0;
  text-align: center;
}
.p-problem__body li h4 {
  color: #9DCBC8;
  font-size: 4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}
.p-problem__body li h4::before {
  width: 120%;
  height: 6px;
  background: #9DCBC8;
  position: absolute;
  content: "";
  bottom: 0;
  left: -5px;
}
.p-problem__body li p {
  color: #273236;
  font-size: 20px;
  font-weight: 600;
}
.p-problem__footer__top {
  background: url(../../../images/png/flame_problem.png), no-repeat;
  background-size: contain;
  width: 100%;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p-problem__footer__top::after {
  position: absolute;
  content: "";
  width: 96px;
  height: 127px;
  background: url(../images/png/arrows.png);
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80%;
}
.p-problem__footer__top p {
  font-size: 4.8rem;
  color: #FFFFFF;
  letter-spacing: 2.4px;
  margin-left: 46px;
}
.p-problem__footer__down {
  background: #FFFFFF;
  height: 224px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-problem__footer__down p {
  display: inline-block;
  font-size: 4.8rem;
  color: #273236;
  font-weight: 500;
  letter-spacing: 3.2px;
  position: relative;
}
.p-problem__footer__down p::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 145px;
  background: url(../../../images/png/light.png);
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  right: -120px;
}
.p-problem__footer__down p span {
  font-size: 6.4rem;
  color: #017972;
  display: inline-block;
  position: relative;
}
.p-problem__footer__down p span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background: #9DCBC8;
  bottom: -5px;
  left: 0;
}

.p-cta, .p-cta--add {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-cta__box {
  width: 920px;
}
.p-cta__box__text {
  font-size: 3.2rem;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 80px;
}
.p-cta__box__text span {
  color: #9DCBC8;
  font-weight: 900;
}
.p-cta--add {
  height: 325px;
}

.p-case {
  padding: 98px 0 0;
}
.p-case h2 {
  text-align: center;
  position: relative;
  margin-bottom: 52px;
}
.p-case h2::after {
  position: absolute;
  content: "";
  width: 192px;
  height: 8px;
  background: #9DCBC8;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.p-case__jisseki {
  width: 924px;
  margin: 0 auto 56px;
}
.p-case__jisseki__img {
  width: 100%;
  height: 302px;
  margin-bottom: 32px;
}
.p-case__jisseki__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-case__jisseki p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #273236;
  line-height: 1.5;
  letter-spacing: 1.2px;
}
.p-case__jisseki p span {
  font-weight: 400;
  line-height: 2;
}
.p-case__reason {
  width: 1074px;
  height: 844px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto 153px;
  padding: 56px 0 46px;
}
.p-case__reason p {
  color: #273236;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;
  width: 872px;
  margin: 0 auto 56px;
}
.p-case__reason p strong {
  color: #017972;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 1.6px;
}
.p-case__reason__img {
  width: 784px;
  height: 346px;
  margin: auto;
}
.p-case__reason__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-case__why {
  width: 931px;
  margin: 0 auto 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-case__why__text {
  width: 670px;
  color: #017972;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.6px;
  margin-bottom: 32px;
}
.p-case__why ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}
.p-case__why ul li {
  width: 300px;
  height: 268px;
  padding: 33px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.p-case__why ul li h3 {
  color: #017972;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.7;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}
.p-case__why ul li p {
  color: #273236;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.32px;
}
.p-case__why__img {
  margin-bottom: 56px;
}
.p-case__why__accent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 90px;
}
.p-case__why__accent span {
  display: block;
  width: 118px;
  height: 118px;
  padding: 29px 35px;
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.25;
  border-radius: 59px;
  background: #017972;
}
.p-case__rt-student {
  width: 777px;
  height: 217px;
  background: #FFFFFF;
  padding: 0 68px;
  margin-bottom: 38px;
}
.p-case__rt-student h3 {
  color: #017972;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 2px;
  margin-top: -37px;
  margin-bottom: 10px;
}
.p-case__rt-student p {
  color: #273236;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5; /* 36px */
  letter-spacing: 1.2px;
}
.p-case__cost-cut {
  width: 920px;
  height: 600px;
}
.p-case__cost-cut img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-case__difference {
  width: 916px;
  margin: 0 auto 149px;
}
.p-case__difference__caution {
  width: 897px;
  text-align: end;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 21px;
}
.p-case__iret {
  padding: 80px 0;
  width: 100%;
  margin-bottom: 132px;
}
.p-case__iret__content {
  width: 675px;
  height: 758px;
  background: #FFF;
  box-shadow: 0px 3.214px 6.428px 0px rgba(0, 0, 0, 0.25);
  color: #273236;
  font-weight: 700;
  margin: 0 auto 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-case__iret__content figure {
  width: 546px;
  height: 266px;
  margin-bottom: 20px;
}
.p-case__iret__content figure img {
  width: 100%;
}
.p-case__iret__content h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.p-case__iret__content p {
  font-size: 2rem;
}
.p-case__iret__content p span {
  font-weight: 500;
}
.p-case__iret__content figure, .p-case__iret__content h3, .p-case__iret__content p {
  width: 546px;
}
.p-case__iret__art article {
  width: 840px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  color: #273236;
  font-size: 2.4rem;
  line-height: 1.5; /* 36px */
  letter-spacing: 1.2px;
}
.p-case__iret__art article div {
  width: 100%;
  height: 271px;
}
.p-case__iret__art article div figure {
  width: 198px;
  height: 238px;
}
.p-case__iret__art article div figure img {
  width: 100%;
}
.p-case__iret__art article div div {
  width: 520px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 48px;
}
.p-case__iret__art article div div strong {
  font-weight: 700;
}
.p-case__iret__art article div div p {
  font-weight: 400;
}
.p-case__iret__art article div div a {
  color: #273236;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  display: inline-block;
  position: relative;
}
.p-case__iret__art article div div a::before {
  position: absolute;
  content: "";
  width: 34px;
  height: 30px;
  background: url(../images/svg/link.svg);
  background-size: cover;
  left: -37px;
  top: 5px;
}
.p-case__recruit {
  width: 100%;
  height: 826px;
  padding: 40px 0;
}
.p-case__recruit__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 112px;
}
.p-case__recruit__list__item {
  width: 320px;
  height: 465px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}
.p-case__recruit__list__item figure {
  width: 262px;
  height: 158px;
  margin-bottom: 49px;
}
.p-case__recruit__list__item figure img {
  width: 100%;
}
.p-case__recruit__list__item ul {
  width: 262px;
  overflow: hidden;
  color: #273236;
  font-size: 1.9rem;
  font-weight: 500;
}

.p-table--difference {
  color: #273236;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 14.592px; /* 105.528% */
  letter-spacing: 0.691px;
  display: flex;
}
.p-table--difference__column1 li:first-child {
  height: 67px;
}
.p-table--difference__column1 li {
  background: #C7EEE7;
  width: 241px;
  height: 47px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 16.5px;
}
.p-table--difference__column2 {
  margin-right: 7px;
}
.p-table--difference__column2 li:first-child {
  height: 67px;
  border-radius: 17px 17px 0 0;
  background: linear-gradient(180deg, #AAE3E0 0%, #62D3CC 100%);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-table--difference__column2 li:first-child figure {
  width: 125px;
  height: 37px;
  margin: 0 auto;
}
.p-table--difference__column2 li:first-child figure img {
  width: 100%;
  height: 100%;
}
.p-table--difference__column2 li:first-child p {
  font-size: 0.75rem;
  margin-top: -2px;
}
.p-table--difference__column2 li {
  background: #FFFFFF;
  width: 241px;
  height: 47px;
  border-top: 1px solid #EDEFF3;
  border-bottom: 1px solid #EDEFF3;
  padding: 16.5px;
}
.p-table--difference__column2 li span {
  font-size: 1rem;
}
.p-table--difference__column3, .p-table--difference__column4 {
  margin-right: 7px;
}
.p-table--difference__column3 li:first-child, .p-table--difference__column4 li:first-child {
  height: 67px;
  border-radius: 17.284px 17.284px 0px 0px;
  background: #B4B4B4;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-table--difference__column3 li, .p-table--difference__column4 li {
  background: #FFFFFF;
  width: 200px;
  height: 47px;
  border-top: 1px solid #EDEFF3;
  border-bottom: 1px solid #EDEFF3;
  padding: 16.5px 0;
}
.p-table--difference__column3 li span, .p-table--difference__column4 li span {
  font-size: 1.2rem;
}

.p-skill {
  padding: 98px 0 80px;
  text-align: center;
}
.p-skill__content {
  width: 920px;
  padding: 51px 0;
  margin: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.p-skill__content__item1 {
  margin-bottom: 68px;
}
.p-skill__content__item1 h3 {
  margin-bottom: 27px;
}
.p-skill__content__item2 {
  display: flex;
  justify-content: center;
  gap: 67px;
  margin-bottom: 68px;
}
.p-skill__content__item2 h3 {
  margin-bottom: 17px;
}
.p-skill__content__item2 figure {
  width: 351px;
}
.p-skill__content__item2 figure img {
  width: 100%;
}
.p-skill__content__item3 {
  margin-bottom: 38px;
}
.p-skill__content__item3 h3 {
  margin-bottom: 38px;
}
.p-skill__content__item4 {
  color: #273236;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%; /* 15px */
  text-align: end;
  margin-right: 50px;
}

.p-flow {
  padding: 105px 0 0 0;
}
.p-flow__content h3 {
  color: #273236;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 31px;
}
.p-flow__content__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
}
.p-flow__content__item figure {
  width: 347px;
}
.p-flow__content__item figure img {
  width: 100%;
}
.p-flow__content__item ul {
  max-width: 545px;
}

.p-faq {
  padding: 111px 0 81px;
}
.p-faq h2 {
  margin-bottom: 111px;
}
.p-faq__item {
  max-width: 675px;
  margin: 0 auto 28px;
}
.p-faq__question, .p-faq__answer {
  padding: 31px 16px;
  color: #273236;
  font-size: 1.7rem;
  font-weight: 700;
}
.p-faq__question {
  border: 0.735px solid #017972;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-faq__question button {
  font-size: 0;
  width: 58px;
  height: 58px;
  background: url(../images/svg/button_faq.svg);
}
.p-faq__answer {
  background: #C7EEE7;
  border: 0.735px solid #C7EEE7;
  max-height: 0; /* 初期状態で非表示 */
  overflow: hidden;
  transition: 0.5s ease; /* アニメーション効果 */
  padding: 0 16px;
}
.p-faq__answer.is-open {
  max-height: 500px; /* 必要に応じて最大高さを調整 */
  padding: 31px 16px;
  transition: 0.5s ease; /* アニメーション効果 */
}

.p-about {
  padding: 41px 98px;
}
.p-about h2 {
  margin-bottom: 96px;
}
.p-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-about__content figure {
  width: 280px;
  height: 280px;
  margin-bottom: 8px;
}
.p-about__content figure img {
  width: 100%;
}
.p-about__content p {
  color: #273236;
  font-size: 2.4rem;
  font-weight: 600;
  width: 166px;
  text-align: center;
  margin-bottom: 28px;
}
.p-about__content ul {
  width: 520px;
  padding: 40px 0;
  margin-bottom: 28px;
  text-align: center;
  border: 8px solid #9DCBC8;
  background: #FFF;
}
.p-about__content ul li {
  color: #273236;
  font-size: 24px;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: 1.2px;
}
.p-about__content ul span {
  color: #017972;
}
.p-about__content strong {
  color: #017972;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.5; /* 36px */
  letter-spacing: 1.2px;
}

.u-invisible {
  visibility: hidden;
}

.u-margin--add-cta1 {
  margin: 110px 0;
}
.u-margin--add-cta2 {
  margin: 0;
}

.u-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */