@use "../../Foundation/_variable.scss" as *;

.c-title{

    &--section{
        color: $green27;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 2px;

        text-align: center;
        position: relative;
        margin: 0 auto 52px;

        @include breakpoint(tablet){
            font-size: 1.8rem;
            letter-spacing: 0;
            margin: 0 auto 24px;
        }

        &::after{
            position: absolute;
            content: "";
            width: 192px;
            height: 8px;
            background: $l-green9d;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);

            @include breakpoint(tablet){
                width: 75px;
                height: 3px;
                bottom: -12px;
            }
        }
        
    } 
    &--thanks{
        @extend .c-title--section;
        color: $green01;
    }
       

    &--skill-h3{

        color: $green27;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25; 
    }
    
    
}