@use "../../Foundation/_variable.scss" as *;

.p-achieve{
    padding: 25px 0;

    @include breakpoint(tablet){
        padding: 12px 0;

    }

    h2{
        @include breakpoint(tablet){
            width: 304px;
        }
    }
    
    &__list{
        display: flex;
        flex-wrap: nowrap; /* 折り返しを防ぐ */
        gap: 40px;

        &__item{
            width: 243px;
            height: 97px;
            flex: 0 0 auto; /* 幅を固定 */
            white-space: nowrap;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin: 5px 0;

            img{
                width: 100%;
                object-fit: cover;
            }

            @include breakpoint(tablet){
                width: 120px;
                height: 48px;
            }
            
            
        }
    }
    &__wrapper{
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }

}