@use "../../Foundation/_variable.scss" as *;

.p-achieve{
    padding: 51px 0 47px;

    @include breakpoint(tablet){
        padding: 28px 0 16px;

    }

    h2{
        @include breakpoint(tablet){
            width: 304px;
        }
    }
    
    &__list{
        display: flex;
        margin-top: 18px;
        flex-wrap: nowrap; /* 折り返しを防ぐ */
        gap: 40px;
 

        &__item{
            width: 240px;
            height: 160px;
            flex: 0 0 auto; /* 幅を固定 */
            white-space: nowrap;

            @include breakpoint(tablet){
                width: 74px;
                height: 50px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }
    }
    &__wrapper{
        overflow: hidden;
        position: relative;
        width: 100%;
    }

}