@use "../../Foundation/_variable.scss" as *;

.p-case{

    padding: 98px 0 0;

    @include breakpoint(tablet){
        padding: 70px 0 0;
    }

    &__jisseki{
        max-width: 924px;
        margin: 0 auto 56px;

        &__img{
            width: 100%;
            // height: 302px;
            margin: 0 auto 32px;

            @include breakpoint(tablet){
                width: 246px;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        p{
            font-size: 2.4rem;
            font-weight: 500;
            color: $green27;
            line-height: 1.5;
            letter-spacing: 1.2px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                width: 300px;
                margin: auto;
            }
            
            span{
                font-weight: 400;
                line-height: 2;

                @include breakpoint(tablet){
                    font-size: 1rem;
                }
            }
        }
    }

    &__reason{

        max-width: 1074px;
        height: 844px;
        background: $whiteFF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
        margin: 0 auto 153px;
        padding: 56px 0 46px;

        @include breakpoint(tablet){
            padding: 39px 0 ;
            height: auto;
            margin: 0 auto 73px;
        }

        p{
            color: $green27;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 1.2px;
            max-width: 872px;
            margin: 0 auto 56px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                width: 300px;
                letter-spacing: 0.7px;
                margin: 0 auto 18px;

            }

            strong{
                color: $green01;
                font-size: 3.2rem;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 1.6px;
                @include breakpoint(tablet){
                    font-size: 1.4rem;
                }
    
            }
        }

        &__img{
            max-width: 784px;
            margin: auto;

            @include breakpoint(tablet){
                width: 332px;
            }

            img{
                width:  100%;
                object-fit: cover;
            }
        }
    }

    &__why{
        max-width: 931px;
        margin: 0 auto 111px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(tablet){
            margin: 0 auto 66px;
        }

        h2{
            @include breakpoint(tablet){
                width: 190px;
                margin: 0 0 54px;
            }
        }

        &__text{

            max-width: 670px;
            color: $green01;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 1.6px;
            margin-bottom: 32px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                letter-spacing: 0.7px;
                width: 300px;
            }

        }

        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 118px;
            margin-bottom: 35px;
            @include breakpoint(tablet){
                gap: 9px;
            }

            li{
                max-width: 300px;
                height: 268px;
                padding: 33px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

                @include breakpoint(tablet){
                    width: 152px;
                    height: 197px;
                    border-radius: 2.5px;
                    padding: 12px;


                }

                h3{
                    color: $green01;
                    text-align: center;
                    font-family: "Noto Sans JP";
                    font-size: 2.4rem;
                    font-weight: 900;
                    line-height: 1.7;
                    letter-spacing: 0.48px;
                    margin-bottom: 20px;

                    @include breakpoint(tablet){
                        font-size: 1.6rem;
                        margin-bottom: 10px;


                    }
                }
                p{
                    color: $green27;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.7;
                    letter-spacing: 0.32px;

                    @include breakpoint(tablet){
                        font-size: 1.2rem;
                    }
                }
            }

        }

        &__img{
            margin-bottom: 56px;
            width: 100%;

            @include breakpoint(tablet){
                width: 320px;
                margin-bottom: 36px;
            }

            img{
                width: 100%;
            }
        }

        &__accent{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-bottom: 90px;

            @include breakpoint(tablet){
                margin-bottom: 55px;
            }
            
            span{
                display: block;
                width: 118px;
                height: 118px;
                padding: 29px 35px;
                color: $whiteFF;
                font-size: 4.8rem;
                font-weight: 900;
                line-height: 1.25;
                border-radius: 59px;
                background: $green01;   
                
                @include breakpoint(tablet){
                    width: 75px;
                    height: 75px;
                    font-size: 3rem;
                    padding: 20px 23px;
                }
            }
        }
    }

    &__rt-student{
        max-width: 777px;
        height: 217px;
        background: $whiteFF;
        padding: 0 68px;
        margin-bottom: 38px;

        @include breakpoint(tablet){
            width: 308px;
            height: 161px;
            padding: 0 26px;
            margin-bottom: 65px;
        }

        h3{
            color: $green01;
            text-align: center;
            font-size: 4.0rem;
            font-weight: 700;
            line-height: 1.75; 
            letter-spacing: 2px;
            margin-top: -37px;
            margin-bottom: 10px;

            @include breakpoint(tablet){
                font-size: 2rem;
                margin-top: -37px;

            }
        }

        p{
            color: $green27;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5; /* 36px */
            letter-spacing: 1.2px;

            @include breakpoint(tablet){
                font-size: 1.5rem;
            }
        }
    }

    &__cost-cut{
        max-width: 920px;
        
        @include breakpoint(tablet){
            width: 320px;
            margin: 0 auto;
        }
        // height: 600px;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__difference{
        max-width: 916px;
        margin: 0 auto 149px;

        @include breakpoint(tablet){
            margin: 0 auto 55px;
        }

        &__caution{
            max-width: 897px;
            text-align: end;
            color: #000000;
            font-size: 1.4rem;
            font-weight: 400;
            margin: 21px 0 0 0;

            @include breakpoint(tablet){
                font-size: 1rem;
                text-align: left;
                width: 300px;
                margin: 25px auto 0;
                position: relative;

                &::after{
                    position:  absolute;
                    content: "";
                    width: 79px;
                    height: 12px;
                    background: url(../images/svg/scroll.svg);
                    background-size: cover;
                    top: -15px;
                    right: 5px;

                }
            }
        }
    }

    &__iret{
        padding: 80px 0 ;
        width: 100%;
        margin-bottom: 132px;

        @include breakpoint(tablet){
            padding: 45px 0;
            margin-bottom: 70px;

            h2{
                margin-bottom: 31px;
            }

        }

        &__content{
            max-width:  675px;
            height: 758px;
            background: #FFF;
            box-shadow: 0px 3.214px 6.428px 0px rgba(0, 0, 0, 0.25);
            color: $green27;
            font-weight: 700;
            margin: 0 auto 82px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include breakpoint(tablet){
                width: 315px;
                height: 482px;
                gap: 13px;
                margin: 0 auto 24px;
            }

            figure{
                width: 546px;
                height: 266px;
                margin-bottom: 20px;

                @include breakpoint(tablet){
                    width: 273px;
                    height: 133px;
                    margin: 0;
                }

                img{
                    width: 100%;
                    
                }
            }
            h3{
                width: 546px;
                font-size: 2.5rem;
                margin-bottom: 20px;

                @include breakpoint(tablet){
                    width: 100%;
                    text-align: center;
                    font-size: 1.8rem;
                    margin: 0;

                }
            }
            p{
                width: 546px;
                font-size: 2rem;

                @include breakpoint(tablet){
                    width: 270px;
                    font-size: 1.3rem;
                    margin: 0;

                }

                span{
                    font-weight: 500;
                    @include breakpoint(tablet){
                        font-size: 1rem;
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
        &__art{

            h3{
                @include breakpoint(tablet){
                    font-size: 1.3rem;
                    letter-spacing: 0.65px;
                    width: 295px;
                }
            }

            article{
                max-width: 840px;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                margin: 0 auto;

                color: $green27;
                font-size: 2.4rem;
                line-height: 1.5; /* 36px */
                letter-spacing: 1.2px;

                @include breakpoint(tablet){
                    width: 311px;
                    font-size: 1rem;
                    letter-spacing: 0.5px;

                }


            

                div{
                    width: 100%;
                    height: 271px;

                    @include breakpoint(tablet){
                        height: 118px;
                    }

                    
                    figure{
                        width: 198px;
                        height: 238px;

                        @include breakpoint(tablet){
                            width: 73px;
                            height: 85px;
        
                        }
            
                        img{
                            width: 100%;
                        }
                    }
                    
                    div{
                        width: 520px;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 48px;

                        @include breakpoint(tablet){
                            width: 192px;
                            gap: 0;
                            line-height: 1.9;

                        }

                        strong{
                            font-weight: 700;
                            color: $green27
                        }
                        p{
                            font-weight: 400;
                            color: #6B7274;
                        }
                        a{
                            color: $green27;
                            text-decoration: underline solid;
                            display: inline-block;
                            position: relative;

                            &::before{
                                position: absolute;
                                content: "";
                                width: 34px;
                                height: 30px;
                                background: url(../images/svg/link.svg);
                                background-size: cover;
                                left: -37px;
                                top: 5px;

                                @include breakpoint(tablet){
                                    width: 12px;
                                    height: 11px;
                                    left: -16px;
                                }


                            }
                        }
                    }
                }
                
            }
        }

    }
    
    &__recruit{
        width: 100%;
        height: 826px;
        padding: 40px 0;

        @include breakpoint(tablet){
            padding: 28px;
            height: 416px;

        }

        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-top: 112px;
            position: relative;

            @include breakpoint(tablet){
                // width: 220px;
                overflow-x: hidden;
                margin: auto;
                gap: 22px

            }


            &__item{
                width: 320px;
                height: 465px;
                background: $whiteFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 33px;

                @include breakpoint(tablet){
                    flex: 0 0 auto; /* 幅を固定 */

                    
                }
                figure{
                    width: 262px;
                    height: 158px;
                    margin-bottom: 49px;
                    position: relative;

                    @include breakpoint(tablet){
                        width: 148px;
                        height: 88px;
                        margin: 0 auto 27px;
                    }

                    img{
                        width: 100%;
                        
                    }

                    &::after{
                        position: absolute;
                        content: "";
                        width: 108px;
                        height: 8px;
                        background: $l-green9d;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -30px;

                        @include breakpoint(tablet){
                            width: 60px;
                            height: 3px;
                            bottom: -16px;
                        }
                    }
                }
                ul{
                    width: 262px;
                    overflow: hidden;
                    color: $green27;
                    font-size: 1.9rem;
                    font-weight: 500;

                    @include breakpoint(tablet){
                        width: 148px;
                        margin: 0 auto;
                        font-size: 1rem;

                    }
                }
            }
        }
    }


}