@use "../../Foundation/_variable.scss" as *;

.p-case{

    padding: 125px 0 0;

    @include breakpoint(tablet){
        padding: 70px 0 0;
    }

    &__jisseki{
        max-width: 924px;
        margin: 0 auto 56px;

        @include breakpoint(tablet){
            margin: 0 auto 112px;
        }

        &__img{
            width: 100%;
            // height: 302px;
            margin: 0 auto 32px;

            @include breakpoint(tablet){
                width: 246px;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        p{
            font-size: 2.4rem;
            font-weight: 500;
            color: $green27;
            line-height: 1.5;
            letter-spacing: 1.2px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                width: 300px;
                margin: auto;
            }
            
            span{
                font-weight: 400;
                line-height: 2;
               

                @include breakpoint(tablet){
                    font-size: 1rem;
                }
                a{
                    color: $green27;
                }
            }
        }
    }

    &__reason{

        max-width: 1074px;
        height: 844px;
        background: $whiteFF;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
        border-radius: 70px;
        margin: 0 auto 173px;
        padding: 56px 0 46px;

        @include breakpoint(tablet){
            padding: 39px 0 ;
            height: auto;
            margin: 0 auto 73px;
            border-radius: 30px;
        }

        h2{
            max-width: 380px;

            &::before{
                position: absolute;
                content: "";
                width: 104px;
                height: 62px;
                background: url(../../../images/png/coin-tower.webp);
                background-size: cover;
                top: 12px;
                left: -126px;

                @include breakpoint(tablet){
                    width: 74px;
                    height: 45px;
                    top: -62px;
                    left: 50%;
                    transform: translateX(-50%);

                }
            }
        }

        p{
            color: $green27;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 1.2px;
            max-width: 872px;
            margin: 0 auto 56px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                width: 300px;
                letter-spacing: 0.7px;
                margin: 0 auto 18px;

            }

            strong{
                color: $blue2b;
                font-size: 3.2rem;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 1.6px;
                @include breakpoint(tablet){
                    font-size: 1.4rem;
                }
    
            }
        }

        &__img{
            max-width: 784px;
            margin: auto;

            @include breakpoint(tablet){
                width: 332px;
            }

            img{
                width:  100%;
                object-fit: cover;
            }
        }
    }

    &__why{
        max-width: 931px;
        margin: 0 auto 111px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(tablet){
            margin: 0 auto 66px;
        }

        h2{

            margin: 0 auto 107px;

            @include breakpoint(tablet){
                width: 190px;
                margin: 0 0 54px;
            }
        }

        &__text{

            max-width: 670px;
            color: $blue2b;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: 1.2px;
            margin-bottom: 52px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                letter-spacing: 0.7px;
                width: 300px;
            }

        }

        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 118px;
            margin-bottom: 80px;
            position: relative;
            @include breakpoint(tablet){
                gap: 9px;
            }

            &::before, &::after{
                position: absolute;
                content: "";
            }
            &::before{
                width: 191px;
                height: 218px;
                background: url(../../../images/png/why_reman-1.webp);
                background-size: cover;
                bottom: 0px;
                left: -56px;
                @include breakpoint(tablet){
                    width: 44px;
                    height: 50px;
                    top: -35px;
                    left: 85px;

                }
            }
            &::after{
                width: 191px;
                height: 218px;
                background: url(../../../images/png/why_reman-2.webp);
                background-size: cover;
                bottom: -52px;
                right: -55px;

                @include breakpoint(tablet){
                    width: 60px;
                    height: 56px;
                    top: -39px;
                    right: 75px;

                }
            }


            li{
                max-width: 300px;
                height: 268px;
                padding: 33px;
                border-radius: 5px;
                background: #FFF;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
                border-radius: 30px;

                @include breakpoint(tablet){
                    width: 152px;
                    height: 197px;
                    border-radius: 10px;
                    padding: 12px;


                }

                h3{
                    color: $blue2b;
                    text-align: center;
                    font-family: "Noto Sans JP";
                    font-size: 2.4rem;
                    font-weight: 900;
                    line-height: 1.7;
                    letter-spacing: 0.48px;
                    margin-bottom: 20px;

                    @include breakpoint(tablet){
                        font-size: 1.6rem;
                        margin-bottom: 10px;


                    }
                }
                p{
                    color: $green27;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.7;
                    letter-spacing: 0.32px;

                    @include breakpoint(tablet){
                        font-size: 1.2rem;
                    }
                }
            }



        }

        &__img{
            margin-bottom: 56px;
            width: 100%;

            @include breakpoint(tablet){
                width: 350px;
                margin-bottom: 36px;
            }

            img{
                width: 100%;
            }
        }

        &__accent{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-bottom: 90px;

            @include breakpoint(tablet){
                margin-bottom: 70px;
            }
            
            span{
                display: block;
                width: 118px;
                height: 118px;
                padding: 29px 35px;
                color: $whiteFF;
                font-size: 4.8rem;
                font-weight: 900;
                line-height: 1.25;
                border-radius: 59px;
                background: $blue2b;   
                
                @include breakpoint(tablet){
                    width: 75px;
                    height: 75px;
                    font-size: 3rem;
                    padding: 20px 23px;
                }
            }
        }
    }

    &__rt-student{
        max-width: 820px;
        height: 237px;
        background: $whiteFF;
        padding: 0 68px;
        margin-bottom: 80px;
        position: relative;

        @include breakpoint(tablet){
            width: 308px;
            height: 161px;
            padding: 26px;
            margin-bottom: 65px;
        }

        &::after{
            position:absolute;
            content: "";
            width: 146px;
            height: 200px;
            background: url(../images/png/recomen.webp);
            background-size: cover;
            top: -197px;
            right: 30px;

            @include breakpoint(tablet){
                width: 45px;
                height: 64px;
                top: -50px;
            }
        }

        h3{
            width: calc(307 / 841 * 100%);
            margin: -60px auto 23px;

            @include breakpoint(tablet){
                width: 55%;
                margin: -67px auto 6px;
            }
        }

        p{
            color: $green27;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5; /* 36px */
            letter-spacing: 1.2px;

            @include breakpoint(tablet){
                font-size: 1.5rem;
            }
        }
    }

    .c-obje--triangle{

        margin-bottom: 40px;
        font-size: 0;

        @include breakpoint(tablet){
            border-right: 100px solid transparent;
            border-left: 100px solid transparent;
            border-top: 60px solid #2BB8D9;
    
        }
    }
    &__costcut{
        width: 100%;
        max-width: 1440px;

        @include breakpoint(tablet){
            background: $whiteFF;
            margin: 0 auto;
            padding-top: 40px;
            
        }

        &__accent{
            width: 76%;
            max-width: 1093px;
            position: sticky;
            margin: 0 auto -50px;

            @include breakpoint(tablet){
                margin: 0 auto -20px;
                width: 90%;

            }
        }

        &__img{
            width: 100%;

            @include breakpoint(tablet){
                width: 320px;
                margin: 0 auto;
            }
        }
        
        figure{

            @include breakpoint(tablet){
                
            }

            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__difference{
        width: 90%;
        max-width: 1296px;
        margin: 0 auto 149px;
        padding-top: 224px;

        @include breakpoint(tablet){
            margin: 0 auto 55px;
            padding-top: 82px;

        }

        h2{
            width: 465px;
            margin: 0 auto 83px;
            position: relative;
            @include breakpoint(tablet){
                width: 200px;
                margin: 0 auto 33px;
            }

            &::before{
                position: absolute;
                content: "";
                width: 298px;
                height: 280px;
                background: url(../images/png/find-woman.webp);
                background-size: cover;
                top: -78px;
                right: -285px;

                @include breakpoint(tablet){
                    width: 100px;
                    height: 83px;
                    top: -37px;
                    right: -95px;
                }
            }
        }
        &__text{
            max-width: 650px;
            margin: 0 auto 75px;
            font-weight: 600;
            color: $green27;
            
            @include breakpoint(tablet){
                width: 280px;
                margin: 0 auto 28px;

            }

            p{
                font-size: 2.4rem;

                @include breakpoint(tablet){
                    font-size: 1.1rem;
                }

            }
            span{
                font-size: 1.3rem;

                @include breakpoint(tablet){
                    font-size: 0.85rem;
                }
            }
        }

        &__caution{
            max-width: 1090px;
            text-align: end;
            color: #000000;
            font-size: 1.4rem;
            font-weight: 400;
            margin: 21px auto 0;

            @include breakpoint(tablet){
                font-size: 1rem;
                text-align: left;
                width: 300px;
                margin: 25px auto 0;
                position: relative;

                &::after{
                    position:  absolute;
                    content: "";
                    width: 79px;
                    height: 12px;
                    background: url(../images/svg/scroll.svg);
                    background-size: cover;
                    top: -15px;
                    right: 5px;

                }
            }
        }
        .js-scrollbar{
            width: 100%;
        }
    }

    &__iret{
        padding: 90px 0 ;
        width: 100%;
        margin-bottom: 132px;
        border-radius: 70px;

        @include breakpoint(tablet){
            padding: 45px 0;
            margin-bottom: 70px;
            border-radius: 30px;

            h2{
                margin-bottom: 31px;
            }

        }

        &__content{
            max-width:  866px;
            padding: 130px 80px;
            background: #FFF;
            box-shadow: 0px 3.214px 6.428px 0px rgba(0, 0, 0, 0.25);
            color: $green27;
            font-weight: 700;
            margin: 0 auto 82px;
            border-radius: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include breakpoint(tablet){
                padding: 0;
                width: 315px;
                height: 482px;
                gap: 13px;
                margin: 0 auto 24px;
                border-radius: 30px;

            }

            figure{
                width: 546px;
                height: 266px;
                margin-bottom: 20px;

                @include breakpoint(tablet){
                    width: 273px;
                    height: 133px;
                    margin: 0;
                }

                img{
                    width: 100%;
                    
                }
            }
            h3{
                width: 546px;
                font-size: 2.5rem;
                margin-bottom: 20px;

                @include breakpoint(tablet){
                    width: 100%;
                    text-align: center;
                    font-size: 1.8rem;
                    margin: 0;

                }
            }
            p{
                width: 546px;
                font-size: 2rem;

                @include breakpoint(tablet){
                    width: 270px;
                    font-size: 1.3rem;
                    margin: 0;

                }

                span{
                    font-weight: 500;
                    @include breakpoint(tablet){
                        font-size: 1rem;
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
        &__art{

            h3{
                @include breakpoint(tablet){
                    font-size: 1.3rem;
                    letter-spacing: 0.65px;
                    width: 295px;
                }
            }

            article{
                max-width: 840px;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                margin: 0 auto;

                color: $green27;
                font-size: 2.4rem;
                line-height: 1.5; /* 36px */
                letter-spacing: 1.2px;

                @include breakpoint(tablet){
                    width: 311px;
                    font-size: 1rem;
                    letter-spacing: 0.5px;

                }


            

                div{
                    width: 100%;
                    height: 271px;

                    @include breakpoint(tablet){
                        height: 118px;
                    }

                    
                    figure{
                        width: 198px;
                        height: 238px;

                        @include breakpoint(tablet){
                            width: 73px;
                            height: 85px;
        
                        }
            
                        img{
                            width: 100%;
                        }
                    }
                    
                    div{
                        width: 520px;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 48px;

                        @include breakpoint(tablet){
                            width: 192px;
                            gap: 0;
                            line-height: 1.9;

                        }

                        strong{
                            font-weight: 700;
                            color: $green27
                        }
                        p{
                            font-weight: 400;
                            color: #6B7274;
                        }
                        a{
                            color: $green27;
                            text-decoration: underline solid;
                            display: inline-block;
                            position: relative;

                            &::before{
                                position: absolute;
                                content: "";
                                width: 34px;
                                height: 30px;
                                background: url(../images/svg/link.svg);
                                background-size: cover;
                                left: -37px;
                                top: 5px;

                                @include breakpoint(tablet){
                                    width: 12px;
                                    height: 11px;
                                    left: -16px;
                                }


                            }
                        }
                    }
                }
                
            }
        }

    }
    
    &__recruit{
        width: 100%;
        height: 826px;
        padding: 40px 0;
        border-radius: 70px;

        @include breakpoint(tablet){
            padding: 28px;
            height: 416px;
            border-radius: 30px;

        }

        .slick-list{

            @include breakpoint(tablet){
                width: 210px;
            }
        
        }
        .slick-slide{
            
            @include breakpoint(tablet){
                width: 210px;
                height: 260px;
                padding-top: 18px;
                margin: 0 12px 0;
        
                
            }
        
        }
        .slick-prev,.slick-next{
            display: none;
            @include breakpoint(tablet){
                display: block;            
            }
        
        }
        

        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-top: 112px;
            position: relative;

            @include breakpoint(tablet){
                // width: 220px;
                overflow-x: hidden;
                margin: auto;
                gap: 22px

            }


            &__item{
                width: 320px;
                height: 465px;
                background: $whiteFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 33px;

                @include breakpoint(tablet){
                    flex: 0 0 auto; /* 幅を固定 */

                    
                }
                figure{
                    width: 262px;
                    height: 158px;
                    margin-bottom: 49px;
                    position: relative;

                    @include breakpoint(tablet){
                        width: 148px;
                        height: 88px;
                        margin: 0 auto 27px;
                    }

                    img{
                        width: 100%;
                        
                    }

                    &::after{
                        position: absolute;
                        content: "";
                        width: 108px;
                        height: 8px;
                        background: $l-green9d;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -30px;

                        @include breakpoint(tablet){
                            width: 60px;
                            height: 3px;
                            bottom: -16px;
                        }
                    }
                }
                ul{
                    width: 262px;
                    overflow: hidden;
                    color: $green27;
                    font-size: 1.9rem;
                    font-weight: 500;

                    @include breakpoint(tablet){
                        width: 148px;
                        margin: 0 auto;
                        font-size: 1rem;

                    }
                }
            }
        }
    }


}