@use "../../Foundation/_variable.scss" as *;

.p-copy{
    margin: 0 0 0 18%;
    position: relative;

    @include breakpoint(tablet){
        margin: 0 0 0 10%;
    }

    &__text{
        width: calc(330 / 1440 * 100%);
        min-width: 330px;
        margin-bottom: 26px;

        @include breakpoint(tablet){
            width: calc(280 / 375 * 100%);
            min-width: 280px;
            margin-bottom: 36px;
        }
        
    }


    &__point{
        display: flex;
        gap: 13px;
        margin-bottom: 30px;

        @include breakpoint(tablet){
            gap: 7px;
            margin-bottom: 23px;
        }

        li{
            width: 160px;

            @include breakpoint(tablet){
                width: 90px;
            }

        }

    }
    .c-button--request--yellow{
        max-width: 424px;
        height: 81px;
        padding: 4px 60px;
        box-sizing: border-box;

        @include breakpoint(tablet){
            max-width: 314px;
            height: 61px;
            padding: 4px 34px;


        }

        &::before{
            top: -34px;

            @include breakpoint(tablet){
                top: -24px;
                left: -15px;
            }
        }
        &::after{
            width: 30px;
            height: 31px;
            top: 20px;
            right: 23px;

            @include breakpoint(tablet){
                width: 25px;
                height: 26px;
                top: 17px;
            }
        }

        figure{
            width: 300px;

            @include breakpoint(tablet){
                width: 222px;
            }
        }
    }

}