@use "../../Foundation/variable" as *;

.p-cta{

    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
    @include breakpoint(tablet){
        height: 258px;
        border-radius: 30px;
    }
    &__box{
        width: 920px; 
        
        @include breakpoint(tablet){
            width: 308px;
        }
        
        &__text{
            font-size: 3.2rem;
            color: $whiteFF;
            font-weight: 500;
            margin-bottom: 80px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                margin-bottom: 17px;
            }
    
            span{
                color: $yellow;
                font-weight: 900;
            }
        }

        strong{
            display: block;
            text-align: center;
            font-size: 2.7rem;
            font-weight: 600;
            color: $yellow;
            margin-bottom: 20px;

            @include breakpoint(tablet){
                font-size: 1.3rem;
            }
        }

        .c-button--request--yellow{
            margin: auto;
        }
    
    }

    &--add{
        @extend .p-cta;
        height: 325px;
        padding-top: 10px;
        margin-bottom: 136px;
        border-radius: 0;


        @include breakpoint(tablet){
            height: 120px;
        }

        .c-button--request--yellow{
            width: 100%;
            
            @include breakpoint(tablet){
                width: 314px;
            }
        }

    }
}
.p-cta--first{
    display: none;
    @include breakpoint(tablet){
        display: block;
        padding-top: 16px;
    }

}