@use "../../Foundation/variable" as *;

.p-faq{

    padding: 140px 0 100px;

    @include breakpoint(tablet){
        padding: 140px 0 30px;
    }

    h2{
        width: 280px;
        margin: 0 auto 111px;

        @include breakpoint(tablet){
            width: 150px;
            margin: 0 auto 28px;

        }

        

        &::before{
            position: absolute;
            content: "";
            width: 186px;
            height: 212px;
            background: url(../images/png/faq_man.webp);
            background-size: cover;
            top: -65px;
            right: -190px;

            @include breakpoint(tablet){
                width: 80px;
                height: 90px;
                top: -40px;
                right: -60px;
    
            }
        }
    }
    
    &__item{
        max-width: 675px;
        margin: 0 auto 28px;

        @include breakpoint(tablet){
            width: 312px;
        }

    }
    &__question, &__answer{
        padding: 31px 16px;
        color: $green27;
        font-size: 1.7rem;
        font-weight: 700;

        @include breakpoint(tablet){
            font-size: 1rem;
            padding: 10px 16px;
        }


    }
    &__question{
        border: 0.735px solid #CCF5FF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        

        button{
            font-size: 0;
            width: 58px;
            height: 58px;
            background: url(../images/png/button_faq.webp);
            background-size: cover;

            @include breakpoint(tablet){
                width: 30px;
                height: 30px;
            }
        }
    }
    &__answer{
        background: #CCF5FF;
        max-height: 0; /* 初期状態で非表示 */
        overflow: hidden;
        transition:  0.5s ease; /* アニメーション効果 */
        padding: 0 16px;

        @include breakpoint(tablet){
            padding: 0 10px;
        }


        &.is-open{
            max-height: 500px; /* 必要に応じて最大高さを調整 */
            padding: 31px 16px;
            transition:  0.5s ease; /* アニメーション効果 */


            @include breakpoint(tablet){
                padding: 16px 10px;
            }
        }
    }
}