@use "../../Foundation/variable" as *;

.p-faq{

    padding: 111px 0 81px;

    h2{
        margin-bottom: 111px;

        @include breakpoint(tablet){
            margin-bottom: 26px;
        }
    }
    
    &__item{
        max-width: 675px;
        margin: 0 auto 28px;

        @include breakpoint(tablet){
            width: 312px;
        }

    }
    &__question, &__answer{
        padding: 31px 16px;
        color: $green27;
        font-size: 1.7rem;
        font-weight: 700;

        @include breakpoint(tablet){
            font-size: 1rem;
            padding: 10px 16px;
        }


    }
    &__question{
        border: 0.735px solid #017972;
        display: flex;
        justify-content: space-between;
        align-items: center;

        

        button{
            font-size: 0;
            width: 58px;
            height: 58px;
            background: url(../images/svg/button_faq.svg);

            @include breakpoint(tablet){
                background-size: cover;
                width: 30px;
                height: 30px;
            }
        }
    }
    &__answer{
        background: #C7EEE7;;
        border: 0.735px solid #C7EEE7;
        max-height: 0; /* 初期状態で非表示 */
        overflow: hidden;
        transition:  0.5s ease; /* アニメーション効果 */
        padding: 0 16px;

        @include breakpoint(tablet){
            padding: 0 10px;
        }


        &.is-open{
            max-height: 500px; /* 必要に応じて最大高さを調整 */
            padding: 31px 16px;
            transition:  0.5s ease; /* アニメーション効果 */


            @include breakpoint(tablet){
                padding: 16px 10px;
            }
        }
    }
}