@use "../../Foundation/variable" as *;

.p-flow{

    padding: 140px 0 0 0;
    border-radius: 70px;


    @include breakpoint(tablet){
        padding: 80px 17px 20px 17px;
        border-radius: 30px;
    }

    h2{
        color: $whiteFF;
    }


    &__content{

        padding: 0 118px;
        @include breakpoint(tablet){
            padding: 0;
        }


        h3{
            color: $whiteFF;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 31px;

            @include breakpoint(tablet){
                font-size: 1rem;
                margin-bottom: 20px;
            }

        }

        figure{
            max-width: 1204px;
            width: 100%;
            margin: auto;
            img{
                width: 100%;
            }
        }


    
        
    

    }
}