@use "../../Foundation/variable" as *;

.p-flow{

    padding: 105px 0 0 0;

    @include breakpoint(tablet){
        padding: 60px 0 0 0;
    }

    &__content{


        h3{
            color: $green27;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 31px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                margin-bottom: 24px;
            }
        }

        &__item{

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 27px;

            @include breakpoint(tablet){
                gap: 5px;

            }

            figure{
                max-width: 347px;

                @include breakpoint(tablet){
                   width: 100px;
                   height: 472px;
                }
    
                img{
                    width: 100%;
                }
            }
            ul{
                max-width: 545px;
            }

    
        }
    

    }
}