@use "../../Foundation/variable" as *;

.p-form{

    max-width: 920px;
    margin: auto;

    @include breakpoint(tablet){
        width: 308px;
    }

    label{
        margin-bottom: 14px;
        display: inline-block;

        @include breakpoint(tablet){
            margin-bottom: 5px;

        }
    }

    label, input{
        color: $green27;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 0.9;
        position: relative;

        @include breakpoint(tablet){
            font-size: 1.1rem;
            
        }
    }
    &__wrapper{

        margin-bottom: 32px;

        @include breakpoint(tablet){
            margin-bottom: 14px;
        }


        input{
            width: 100%;
            height: 80px;
            padding: 10px 20px;
            background: #E2E2E2;

            @include breakpoint(tablet){
                height: 26px;
                padding: 5px 8px;
            }
            

        }

    }
    
    &__label--required{


        &::before{
            position: absolute;
            content: "＊";
            color: $whiteFF;
            font-size: 1.6rem;
            background: $blue2b;
            text-align: center;
            padding: 13px 0;
            width: 49px;
            height: 39px;
            top: -6px;
            right: -63px;

            @include breakpoint(tablet){
                font-size: 0.6rem;
                width: 16px;
                height: 12px;
                padding: 4px 0;
                top: -1px;
                right: -19px;
            }
        }    
    }

    &__name{

        display: flex;
        justify-content: space-between;
        width: 640px;
        position: relative;

        @include breakpoint(tablet){
            width: 208px;
        }

        &::before,&::after{
            position: absolute;
            font-size: 2.4rem;
            font-weight: 600;
            color: #273236;
            top: 0;

            @include breakpoint(tablet){
                font-size: 0.7rem;
            }

        }

        &::before{
            content: "姓";
            left: -38px;

            @include breakpoint(tablet){
                left: -14px;
            }

        }
        &::after{
            content: "名";
            right: 292px;

            @include breakpoint(tablet){
                right: 100px;
            }

        }




        input{
            width: 280px;
            height: 80px;

            @include breakpoint(tablet){
                width: 94px;
                height: 26px;
            }
        
        }

    }
    div .p-form__checkbox-container{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 80px;

        @include breakpoint(tablet){
            margin-top: 20px;
            gap: 7px;
        }

        input{
            width: 35px;
            height: 35px;

            @include breakpoint(tablet){
                width: 14px;
                height: 14px;
            }
        }

        a{
            color: $green27;
            font-size: 2.8rem;
            font-weight: 600;
            text-decoration: underline;

            @include breakpoint(tablet){
                font-size: 1.2rem;
            }
    
        }
    }
    
    button{
        margin: 152px auto 37px;

        @include breakpoint(tablet){
            margin: 20px auto 9px;
        }
    }

    input::placeholder{
        color: #B3B3B3;
    }

    

}