@use "../../Foundation/_variable.scss"as *;

.p-nav--global{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @include breakpoint(pc){
        background: #2BB8D9;
        display: block;
        padding: 25px 0 52px;
        opacity: 0.95;
        
    }
    
    li{

        @include breakpoint(pc){
            height: 57px;
            display: flex;
            align-items: center;
            margin: 0 30px;
        }

        

        a{
            color: $gray27;
            font-size: 1.6rem;
            font-weight: 600;
            display: inline-block;
            position: relative;

            @include breakpoint(pc){
                color: $whiteFF;
                font-size: 2rem;
            }

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -14px;
                width: 0;
                height: 6px;
                background: #2BB8D9;
                transition: width 0.3s ease;

                @include breakpoint(tablet){
                    display: none;
                }
            }

            &:hover::after{
                width: 100%;
            }
        }


    
    }
    &__list1{
        display: flex;
        justify-content: space-between;

        button{
            margin-top: 5px;
        }
    }

    &__logo{
        display: block;
        width: 100px;
        height: 100%;
        
        img{
            width: 100%;
        }
        p{
            font-size: 1rem;
            text-align: center;
        }
    }

}