@use "../../Foundation/_variable.scss" as *;

.p-problem{

    &__header{

        margin-top: 52px;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint(tablet){
            height: 54px;
        }

        .c-triangle{
            width: 0;
            height: 0;
            border-style: solid;
            border-right: 35px solid transparent;
            border-left: 35px solid transparent;
            border-bottom: 70px solid #ffffff;
            border-top: 0;
            transform: rotate(180deg);
            margin-bottom: -90px;
            font-size: 0;
            position: relative;
            z-index: 100;

            @include breakpoint(tablet){
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                border-bottom: 35px solid #ffffff;
                margin-bottom: -35px;    
            }

        }

        &__text{

            color: $green27;
            font-size: 4rem;
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
            
            @include breakpoint(tablet){
                font-size: 1.4rem;
                margin-bottom: 0;
            }
    
            span{
                color: #2BB8D9;
                font-size: 6.4rem;
                font-weight: 900;
                position: relative;
                z-index: 11;

                @include breakpoint(tablet){
                    font-size: 2rem;
                }
                    
            }

        }

    }
    
    &__body{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 1140px;
        aspect-ratio: 1440 / 640;
        position: relative;
        margin-bottom: 120px;

        @include breakpoint(tablet){
            margin-bottom: 25px;
        }

        ul{
            padding: 93px 0 0 0;
            display: flex;
            justify-content: center;
            gap: 27px; 
            position: relative;
            
            &::before,&::after{
                position: absolute;
                content: "";
                background: url(../images/png/guruguru.webp);
                background-size: cover;
                width: 123px;
                height: 126px;

                @include breakpoint(tablet){
                    width: 50px;
                    height: 50px;
                }
            }
            &::before{
                bottom: -120px;
                left: -150px;
                transform: scaleX(-1);

                @include breakpoint(tablet){
                    bottom: 190px;
                    left: -70px;
                }

            }
            &::after{
                bottom: -23px;
                right: -200px;

                @include breakpoint(tablet){
                    bottom: 345px;
                    right: -55px;
                }
            }
            

            @include breakpoint(tablet){

                flex-direction: column;
                align-items: flex-end;
                gap: 21px;
                padding: 50px 0 86px 0;
                // height: 360px;
            }

            li{
                width: 258px;
                height: 180px;
                background: $whiteFF;
                border-radius: 4px 40px 4px 4px;
                text-align: center;
                box-shadow: 0px 3.405px 3.405px 0px rgba(0, 0, 0, 0.25);
    
                @include breakpoint(tablet){
                    width: 208px;
                    height: 145px;
                    padding: 7px 0;
                    box-shadow: 0px 1.898px 1.898px 0px rgba(0, 0, 0, 0.25);
                    border-radius: 3.413px 24.06px 3.413px 3.413px;
                }
                
                h4{
                    color: #2BB8D9;
                    font-size: 4rem;
                    position: relative;
                    display: inline-block;
                    margin-bottom: 30px;
                    @include breakpoint(tablet){
                        font-size: 3.2rem;
                        margin-bottom: 23px;
                    }
                    
                    &::before{
                        width: 120%;
                        height: 6px;
                        background: #2BB8D9;
                        position: absolute;
                        content: "";
                        bottom: -5px;
                        left: -5px;
    
                        @include breakpoint(tablet){
                            height: 3.7px;
                            left: -2.5px;
                        }
                    }
                }
    
                p{
                    color: $green27;
                    font-size: 20px;
                    font-weight: 600;
                    width: 214px;
                    margin: auto;
                    @include breakpoint(tablet){
                        font-size: 1.6rem;
                        width: 160px;
                        margin: auto;
                        text-align: left;
                    }
                }
    
            }
    
        }

        figure{
            width: 203px;
            height: 355px;
            margin-left: 28px;
            img{
                width: 100%;
            }
            @include breakpoint(tablet){
                position: absolute;
                top: 0;
                left: -4px;
                width: 89px;
                height: 149px;

            }
        }


    }

    &__footer{

        &__top{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            p{
                font-size: 4.8rem;
                font-weight: 900;
                color: $green27;
                letter-spacing: 2.4px;
                margin-left: 46px;

                @include breakpoint(tablet){
                    font-size: 1.9rem;
                    letter-spacing: 0.8px;
                    margin-left: 0;
                }

            }
        }

        &__down{
            height: 224px;
            margin-top: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $whiteFF;

            @include breakpoint(tablet){
                margin-top: 40px;
                height: 75px;

            }

            p{
                display: inline-block;
                font-size: 4.8rem;
                color: $green27;
                font-weight: 600;
                letter-spacing: 3.2px;
                position: relative;

                @include breakpoint(tablet){
                    font-size: 1.5rem;
                    letter-spacing: 1.1px;
                }

                &::before,&::after{
                    position: absolute;
                    content: "";
                }

                &::before{
                    background: url(../../../images/png/problem_man2.webp);
                    background-size: cover;
                    width: 482px;
                    height: 565px;
                    left: -300px;
                    bottom: -91px;

                    @include breakpoint(tablet){
                        width: 110px;
                        height: 115px;
                        left: -65px;
                        bottom: -20px;
                    }
                }

                &::after{
                    width: 136px;
                    height: 145px;
                    background: url(../images/png/light.webp);
                    background-size: cover;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -120px;

                    @include breakpoint(tablet){
                        width: 45px;
                        height: 45px;
                        right: -35px;
                    }
                }
                
                span{
                    
                    font-size: 6.4rem;
                    color: $blue2b;
                    display: inline-block;
                    position: relative;
                    @include breakpoint(tablet){
                        font-size: 2.4rem;
                    }

                    // &::after{
                    //     position: absolute;
                    //     content: "";
                    //     width: 100%;
                    //     height: 6px;
                    //     background: $l-green9d;
                    //     bottom: -5px;
                    //     left:0;

                    //     @include breakpoint(tablet){
                    //         height: 4px;
                    //         left: -1px;
                    //         bottom: -3px;
                    //     }
    
                    // }
                }
            }
        }
    }
}