@use "../../Foundation/_variable.scss" as *;

.p-service{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 124px 0;

    @include breakpoint(tablet){
        padding: 48px 0;
    }

    &__content{
        max-width: 988px;

        h2,h3{
            color: $whiteFF;

        }
        h2,h3{
            text-align: center;
        }
        .c-title--section{
            margin: 0 auto 64px;
            color: $whiteFF;
            &::after{
                background: $whiteFF;
            }

            @include breakpoint(tablet){
                width: 228px;
                margin: 0 auto 24px;
            }
        }
        h3{
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 auto 36px;

            @include breakpoint(tablet){
                font-size: 1.5rem;
                margin: 0 auto 13px;
                width: 180px;
                
            }
        }
        &__text{
            font-size: 2.4rem;
            margin: auto;
            color: $whiteFF;
            letter-spacing: 1.2px;
            line-height: 1.5;

            @include breakpoint(tablet){
                font-size: 1.5rem;
                width: 270px;
                letter-spacing: 0.75px;
            }
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 756px;
            margin: 0 auto 46px;
            gap: 30px;

            @include breakpoint(tablet){
                gap: 12px;
                margin: 0 auto 24px;
            }

            li{
                width: 232px;
                height: 232px;

                @include breakpoint(tablet){
                    width: 95px;
                    height: 95px;
                }

                img{
                    width: 100%;
                }
            }
        }
    }
}