@use "../../Foundation/_variable.scss" as *;

.p-support{

    padding: 82px 0 0;

    &__list{
        margin-left: calc(129 / 1440 * 100%);

        li{
            width: 1030px;
            position: relative;
            margin-bottom: 90px;


            img{
                width: 100%;
                object-fit: cover;
            }

            div{
                width: 700px;
                padding: 57px 0 25px 33px;
                position: absolute;
                bottom: 87px;
                right: -330px;
                border-radius: 4px;
                box-shadow: 0px 3.336px 3.336px 0px rgba(0, 0, 0, 0.25);


                h3{
                    position: absolute;
                    top: -100px;
                    left: 30px;
                }
            }
        }
    }

    &__chat{

        background: $whiteFF;
        padding: 128px 0 85px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: $green27;
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: 2px;
            position: relative;
            text-align: center;
            margin-bottom: 90px;

            &::after{
                position: absolute;
                content: "";
                width: 192px;
                height: 8px;
                background: $l-green9d;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        figure{
            margin-bottom: 38px;
        }

        p{
            font-size: 3.2rem;
            width: 914px;
            font-weight: 600;
            letter-spacing: 1.6px;
            
            span{
                color: $green01;
                font-weight: 900;
            }
        }
    }

    &__banner{
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 4rem;
            font-weight: 600;
            color: $whiteFF;
            line-height: 1.5;
            letter-spacing: 2px;
            width: 880px;
        }
    }
}