@use "../../Foundation/_variable.scss" as *;

.p-support{

    padding: 82px 0 0;
    overflow-x: hidden;

    @include breakpoint(tablet){
        padding: 24px 0 0;
    }

    &__content{
        width: 100%;
        max-width: 1326px;
        margin: 0 auto 137px;

        img{
            width: 100%;
        }

        @include breakpoint(tablet){
            width: 337px;
            margin: 0 auto ;
        }
    }

    &__chat{

        padding: 128px 0 85px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(tablet){
            
            padding: 64px 0 0;

        }

        h2{
            color: $green27;
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: 2px;
            position: relative;
            text-align: center;
            margin-bottom: 90px;

            @include breakpoint(tablet){
                font-size: 1.8rem;
                margin-bottom: 24px;
            }

            &::after{
                position: absolute;
                content: "";
                width: 192px;
                height: 8px;
                background: $l-green9d;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);

                @include breakpoint(tablet){
                    width: 75px;
                    height: 3px;
                    bottom: -15px;
                }
            }
        }

        figure{
            width: 964px;

            img{
                width: 100%;
            }
            @include breakpoint(tablet){
                width: 100%;

                img{
                    width: 100%;
                    object-fit: cover;
                }

            }
        }

        p{
            font-size: 3.2rem;
            width: 914px;
            font-weight: 600;
            letter-spacing: 1.6px;
            color: $green27;
            span{
                color: $blue2b;
                font-weight: 900;
            }
        }
    }

    &__banner{
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 70px 70px;

        @include breakpoint(tablet){
            height: 93px;
            border-radius: 0px 0px 19px 19px;

        }

        p{
            font-size: 4rem;
            font-weight: 600;
            color: $green27;
            line-height: 1.5;
            letter-spacing: 2px;
            max-width: 880px;

            @include breakpoint(tablet){
                font-size: 1.4rem;
                letter-spacing: 0.7px;
                width: 313px;


            }
        }
    }
}