@use "../Foundation/variable" as *;

.l-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 3.5%;
    background: $whiteFF;
    z-index: 1000000;

    @include breakpoint(tablet){
        height: 60px;
        max-width: 500px;
        padding: 0 16px;

    }
    

    &.is-open{
        z-index: 6000000;
    }

    &__logo{

        width: 122px;
        display: block;
        @include breakpoint(tablet){
            width: 82px;
        }

        img{
            width: 100%;

        }
        p{
            color: $black;
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 0.9px;
            margin: 0;
            text-align: center;
            @include breakpoint(tablet){
                font-size: 0.5rem;
            }
        }

        
    }
    div{
        @include breakpoint(tablet){
            display: flex;
            align-items: center;
            gap: 20px;
    
        }

    }
    nav{

        @include breakpoint(pc){
            position: absolute;
            width: 100%;
            // max-width: 500px;
            left: 0;
            top: 0;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;

            &.is-open{
                opacity: 1;
                visibility: visible;
                transition: opacity .3s, visibility .3s;
            }
        }

    }

    button{
        display: none;

        @include breakpoint(pc){
            display: block;
        }

    }

    &--thanks{
        @extend .l-header;
        background: transparent;
    }


}
